body {
    font-size:100%;
    font-family: "Chronicle SSm A", "Chronicle SSm B", Georgia, serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.6em; }
h2 { 
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.2em; }
h3 {
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.0em; }
    

    h2 small {
        color: gray;
    }

.subheader {
    color: black;
    }
    
p  { font-size:1.0em; line-height: 1.6em; }
li { font-size:1.0em; line-height: 1.6em; }

a:link, a:visited {
	color: #80A919;
}

.faq {
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.2em; 
    color: grey; }

#bar {
	background-color: #ACD83E;
	border-bottom-color:#9AC237;
	height: 7px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#logo {
	padding-top: 20px;
    padding-bottom: 20px;
}

#mainrow {
    max-width: 90%;    
}

#footer {
    padding: 20px;
    font-size:0.8em;
    font-weight: 300;
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
}

#navcontainer {
	list-style-type: none;
	float: right;
    padding-top: 50px;
}

#navcontainer ul {
    display: block;
}

#navcontainer li {
	position: relative;
	display: inline;
    float: left;
}

#navcontainer a {
	display: block;
	padding-left: 15px;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
    font-family: "Whitney SSm A", "Whitney SSm B", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#navcontainer a:hover {
	background: transparent;
}

#navcontainer a:active {
}

.blogpic img {
	float:right;
	margin-left:2em;
	margin-bottom:2em;
}
