body {
    font-size:100%;
}

h1 { font-size:1.6em; }
h2 { font-size:1.2em; }
h3 { font-size:1.0em; }
p  { font-size:0.9em; }
li { font-size:0.9em; }

a:link, a:visited {
	color: #80A919;
}

#bar {
	background-color: #ACD83E;
	border-bottom-color:#9AC237;
	height: 7px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#logo {
	padding-top: 20px;
    padding-bottom: 20px;
}

#mainrow {
    max-width: 90%;    
}

#footer {
    padding: 20px;
}

#navcontainer {
	list-style-type: none;
	float: right;
}

#navcontainer ul {
    display: block;
}

#navcontainer li {
	position: relative;
	display: inline;
    float: left;
}

#navcontainer a {
	display: block;
	padding-left: 15px;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
  line-height: 92px;
}

#navcontainer a:hover {
	background: transparent;
}

#navcontainer a:active {
}
