
<div id="mainrow" class="row">
  <div class="medium-12 columns callout success">

	<h1>Rebooting the OEB</h1>
	<p>We're back... You may have noticed that activity has been a little slow over the last year. Partly that has been because the changes we've been making are less public (changes to backend software etc) but it is also because progress did actually stall for a while.</p>
	<p>As of December 2018, the OEB is 'rebooted' - we're back and you should now see regular updates as we push towards an initial release of all the books of the Old Testament/Hebrew Bible.</p>
	<p><a href="/blog/2018-reboot/">Click here for more...</a></p>
  </div>
</div>

