<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open English Bible | {{.Title}}</title>
    {{ partial "hoefler" . }}
    <link rel="stylesheet" href="{{ "css/foundation.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "css/oeb.css" | relURL }}"/>
  </head>
  <body>
      
<div id="mainrow" class="row">
  <div class="medium-6 columns">
      <img id="logo" src="{{ "img/g3026.png"| relURL }}" width="400" height="52" alt="Site logo"/>
  </div>
  <div class="medium-6 columns">
    <div id="navcontainer">
    <ul>
		<li><a href="{{ "/" | relURL }}" rel="self">Home</a></li>
		<li><a href="{{ "blog/" | relURL }}" rel="self">Blog</a></li>
        <li><a href="{{ "faq/" | relURL }}" rel="self">FAQ</a></li>
        <li><a href="{{ "publications/" | relURL }}" rel="self">Publications</a></li>
    </ul>
    <br>
    <ul>
		<li>Development:</li>
		<li><a href="{{ "development/" | relURL }}" rel="self">Overview</a></li>
        <li><a href="https://github.com/openenglishbible/Open-English-Bible/discussions" rel="self">Discussions</a></li>
        <li><a href="https://github.com/openenglishbible/Open-English-Bible/issues" rel="self">Issues</a></li>
    </ul>
	</div>
  </div>
</div>
<div id="bar"></div>
<p>
