<h1>Get your Bible</h1>
  <h2>Release 2022.1 (NT, Psalms and some OT books)</h2>
<ul>
  <li>
    <h2 class="subheader">
      <a href="/oeb/2022.1/read/">Read</a>
    </h2>
  </li>
  <li>
    <h2 class="subheader">
      Download
    </h2>
  </li>
  <li style="list-style: none">
    <h3 class="subheader">
      US Spelling:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/oeb/2022.1/OEB-2022.1-US.pdf">PDF</a>,
      <a href="/oeb/2022.1/OEB-2022.1-US.txt">Text</a>,
      <a href="/oeb/2022.1/OEB-2022.1-US.rtf">Microsoft Word</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks:
      <a href="/oeb/2022.1/OEB-2022.1-US.epub">EPub</a>,
      <a href="/oeb/2022.1/OEB-2022.1-US.mobi">Kindle</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software:
      <a href="/oeb/2022.1/OEB-2022.1-US.accordance.txt">Accordance</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source:
      <a href="/oeb/2022.1/OEB-2022.1-US.usfm.zip">USFM</a> (zip)
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/oeb/2022.1/OEB-2022.1-US.html">Single html file for download</a>
    </h3>
    <h3 class="subheader">
      Commonwealth Spelling:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/oeb/2022.1/OEB-2022.1-Cth.pdf">PDF</a>,
      <a href="/oeb/2022.1/OEB-2022.1-Cth.txt">Text</a>,
      <a href="/oeb/2022.1/OEB-2022.1-Cth.rtf">Microsoft Word</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks:
      <a href="/oeb/2022.1/OEB-2022.1-Cth.epub">EPub</a>,
      <a href="/oeb/2022.1/OEB-2022.1-Cth.mobi">Kindle</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software:
      <a href="/oeb/2022.1/OEB-2022.1-Cth.accordance.txt">Accordance</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source:
      <a href="/oeb/2022.1/OEB-2022.1-Cth.usfm.zip">USFM</a> (zip)
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/oeb/2022.1/OEB-2022.1-Cth.html">Single html file for download</a>
    </h3>
  </li>
</ul>
