  	<h2>Get your Bible<br><small>(Release 2014.11 - NT, Psalms and other OT books)</small></h2>
  	<ul>
       <li><h2 class="subheader"><a href="/oeb/2014.11/read/">Read</a></h2>(or <a href="/oeb/2014.11/study/">study version</a>)</li>
  	<li><h2 class="subheader">Download</h2></li>

  	<h3 class="subheader">US Spelling:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/oeb/2014.11/OEB-2014.11-US.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-US.pdf']);" rel="external">PDF</a>, 
        <a href="/oeb/2014.11/OEB-2014.11-US.txt" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-US.txt']);" rel="external">Text</a>, 
        <a href="/oeb/2014.11/OEB-2014.11-US.doc" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-US.doc']);" rel="external">Microsoft Word</a>
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks: 
        <a href="/oeb/2014.11/Open%20English%20Bible%20(US)%20-%20OpenEnglishBible.org.epub" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/2014.11/Open%20English%20Bible%20(US)%20-%20OpenEnglishBible.org.epub']);" rel="external">EPub</a>, 
        <a href="/oeb/2014.11/Open%20English%20Bible%20(US)%20-%20OpenEnglishBible.org.mobi" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11/Open%20English%20Bible%20(US)%20-%20OpenEnglishBible.org.mobi']);" rel="external">Kindle</a>
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source: 
        <a href="/oeb/2014.11/OEB-2014.11-US.usfm.zip" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/2014.11/OEB-2014.11-US.usfm.zip']);" rel="external">USFM</a> (zip)
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/oeb/2014.11/OEB-2014.11-US.html" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-US.html']);" rel="external">Single html file for download</a>
  </h3>

  	<h3 class="subheader">Commonwealth Spelling:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/oeb/2014.11/OEB-2014.11-Cth.pdf" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-Cth.pdf']);" rel="external">PDF</a>, <a href="/oeb/2014.11/OEB-2014.11-Cth.txt" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-Cth.txt']);" rel="external">Text</a>, <a href="/oeb/2014.11/OEB-2014.11-Cth.doc" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-Cth.doc']);" rel="external">Microsoft Word</a>
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks: <a href="/oeb/2014.11/Open%20English%20Bible%20(Cth)%20-%20OpenEnglishBible.org.epub" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/2014.11/Open%20English%20Bible%20(Cth)%20-%20OpenEnglishBible.org.epub']);" rel="external">EPub</a>, <a href="/oeb/2014.11/Open%20English%20Bible%20(Cth)%20-%20OpenEnglishBible.org.mobi" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11/Open%20English%20Bible%20(Cth)%20-%20OpenEnglishBible.org.mobi']);" rel="external">Kindle</a>
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source: <a href="/oeb/2014.11/OEB-2014.11-Cth.usfm.zip" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/2014.11/OEB-2014.11-Cth.usfm.zip']);" rel="external">USFM</a> (zip)
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/oeb/2014.11/OEB-2014.11-Cth.html" onClick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-Cth.htmlf']);" rel="external">Single html file for download</a>
  </h3>

  	</ul>

  	</li>
