{{ partial "header.html" . }}
{{ partial "big-notice.html" . }}

<div id="mainrow" class="row">
  <div class="medium-6 columns">

  <h1>Welcome to the Open English Bible</h1>

  <h2>News</h2>

  <p>
  {{ range ( where site.RegularPages "Section" "blog" | first 2 ) }}
      {{ .Render "justtitle" }}<br>
  {{ end }}
  </p>

  <h2>About</h2>

  <p>We are committed to creating a completely free modern English translation of the Bible.
  <p>The OEB is under a <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a> licence - that is, it is in the public domain. It's available completely without cost, and completely without restrictions. It's your Bible &mdash; you can use it in worship, print as many copies as you want (whole or part), republish it on your own website, even remix it or take it as the base for your own translation to meet your needs and the needs of your community. And you can do this without needing our permission or paying us a cent (or penny, rupee or kobo).
  <p>If you find that questions of copyright are making it harder for you to use or distribute the Bible, then why not try the OEB?
  <p>Read the current release of the OEB New Testament <a href="/oeb/2020.2/read/">online</a>.</p>
  <p>Alternatively, use the <a href="/oeb/2020.2/study/">study version</a> which allows closer comparison with the original languages, or download a copy in US or Commonwealth spelling.</p>
  <p>Or keep up to date with progress on our <a href="/blog">blog</a>.</p>

  <p>


  </div>
  <div class="medium-6 columns">

  {{ partial "release.html" }}

  </div>
</div>

{{ partial "footer.html" . }}
