<h2>
  Get your Bible<br>
  <small>(Release Current - NT, Psalms and selected other OT books)<br>
         ("<a href="https://en.wikipedia.org/wiki/Julia_E._Smith_Parker_Translation">Julia E Smith</a>" Release)
  </small>
</h2>
<ul>
  <li>
    <h2 class="subheader">
      <a href="/oeb/dev/read/">Read</a>
    </h2>(or <a href="/oeb/dev/study/">study version</a>)
  </li>
  <li>
    <h2 class="subheader">
      Download
    </h2>
  </li>
  <li style="list-style: none">
    <h3 class="subheader">
      US Spelling:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="/oeb/dev/OEB-Current-US.pdf" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.pdf']);" rel="external">PDF</a>, 
      <a href="/oeb/dev/OEB-Current-US.txt" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.txt']);" rel="external">Text</a>, 
      <a href="/oeb/dev/OEB-Current-US.rtf" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.rtf']);" rel="external">Microsoft Word</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks: 
      <!--<a href="/oeb/dev/OEB-Current-US.epub" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.epub']);" rel="external">-->EPub<!--</a>-->, 
      <!--<a href="/oeb/dev/OEB-Current-US.mobi" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.mobi']);" rel="external">-->Kindle<!--</a>-->
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software: 
      <a href="/oeb/dev/OEB-Current-US.accordance.txt" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.accordance.txt']);" rel="external">Accordance</a>, 
      <!--<a href="/oeb/dev/OEB-Current-US.mobi" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.mobi']);" rel="external">-->Kindle<!--</a>-->
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source: 
      <a href="/oeb/dev/OEB-Current-US.usfm.zip" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.usfm.zip']);" rel="external">USFM</a> (zip)
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a href="/oeb/dev/OEB-Current-US.html" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.html']);" rel="external">Single html file for download</a>
    </h3>
    <h3 class="subheader">
      Commonwealth Spelling:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/oeb/2014.11/OEB-2014.11-Cth.pdf" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-2014.11-Cth.pdf']);" rel="external">PDF</a>, 
      <a href="/oeb/dev/OEB-Current-Cth.txt" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.txt']);" rel="external">Text</a>, 
      <a href="/oeb/dev/OEB-Current-Cth.doc" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.rtf']);" rel="external">Microsoft Word</a>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eBooks: 
      <!--<a href="/oeb/dev/OEB-Current-Cth.epub" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.epub']);" rel="external">-->EPub<!--</a>-->, 
      <!--<a href="/oeb/dev/OEB-Current-Cth.mobi" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.mobi']);" rel="external">-->Kindle<!--</a>-->
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software: 
      <a href="/oeb/dev/OEB-Current-Cth.accordance.txt" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.accordance.txt']);" rel="external">Accordance</a>, 
      <!--<a href="/oeb/dev/OEB-Current-US.mobi" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-US.mobi']);" rel="external">-->Kindle<!--</a>-->
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source: 
      <a href="/oeb/dev/OEB-Current-Cth.usfm.zip" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.usfm.zip']);" rel="external">USFM</a> (zip)
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/oeb/dev/OEB-Current-Cth.html" onclick="javascript: _gaq.push(['_trackPageview', '/downloads/OEB-Current-Cth.html']);" rel="external">Single html file for download</a>
    </h3>
  </li>
</ul>
